<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
AuthUserFile /home/www/template
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
order deny,allow