<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule index.html$ index.php?action=index
    RewriteRule ([a-z]*).html$ index.php?action=$1
</IfModule>
<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
